@import url(http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911&amp;text=&amp;);
/*
Template Name: Stability Responsive HTML Template
Template URI: http://themeforest.net/user/dan_fisher/portfolio
Author: Dan Fisher
Author URI: http://themeforest.net/user/dan_fisher
Description: Stability is a clean, and multi-purpose HTML Template. It is suitable for your business, a creative agency or a portfolio projects. Stability comes with stylish design, 6 home pages, 2-4 columns, fullwidth portfolio layouts, pricing tables, 4 blog page layouts, single portfolio layouts, contacts page and more.
Version: 1.7.1
Tags: black, blog, bold, bootstrap, business, grid, portfolio, post formats, posts, red, stability, strong, white
*/
/* Table of Content
==================================================
	#General
		- Typography
	#Header
		- Text Based Logo
		- Image Based Logo
	#Navigation
	#Slider
		- Revolution Slider
		- Royal Slider
		- Layer Slider
	#Content
		- Page Heading
		- Page Content
	#Widgets
		- Base Widgets
		- Latest Post Widget
		- Contacts Info
		- Flickr
		- Tag Cloud
		- Tabbed Widget
	#Pages
		- About Us
		- 404 Error Page
		- Coming Soon
		- Contacts
	#Blog
	#Portfolio
	#Footer
		- Footer widgets
		- Copyright
	#One Page
	#Shop
	#Forums
*/
/*
// #General
// --------------------------------------------------
*/
/* Stars Fonts (for WooCommerce) */
@font-face {
  font-family: 'star';
  src: url('fonts/star.eot');
  src: url('fonts/stard41d.eot?#iefix') format('embedded-opentype'), url('fonts/star.woff') format('woff'), url('fonts/star.ttf') format('truetype'), url('fonts/star.html#star') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  overflow-x: hidden;
  overflow-y: auto;
}
body {
  background-color: #fff;
  color: #6d6d6d;
  font-family: 'Muli', sans-serif;
  font-size: 13px;
  line-height: 22px;
  margin: 0;
}
body.bg1 {
  background: #ffffff url(../images/bg1.jpg) 50% 0 no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}
.main {
  overflow: hidden;
  position: relative;
}
body.boxed .main {
  margin: 0 auto;
  max-width: 1200px;
  background: #fff;
}
@media (min-width: 992px) {
  body.boxed .main {
    margin: 0 auto 30px auto;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 0 0 6px 6px;
  }
}
body.boxed .header {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
@media (min-width: 992px) {
  body.boxed .header {
    margin: 30px auto 0 auto;
  }
  body.boxed .header .header-top {
    border-radius: 6px 6px 0 0;
  }
}
/* font-family: 'Anton', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Goudy Bookletter 1911', serif;
*/
/*
// #Header
// --------------------------------------------------
*/
.header {
  position: relative;
  z-index: 99;
}
/* Sticky Header */
.header.headhesive {
  display: none;
}
@media (min-width: 992px) {
  .header.headhesive {
    display: block;
    position: fixed;
    top: 0;
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
    width: 100%;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    z-index: 999;
  }
  body.boxed .header.headhesive {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }
  body.boxed .header.headhesive .header-main {
    width: 100%;
    margin: 0;
    max-width: 100%;
  }
  .header.headhesive .header-top {
    display: none;
  }
  .header.headhesive .navbar-toggle {
    top: 16px;
  }
  .header.headhesive .logo {
    padding: 16px 0;
  }
  .header.headhesive .logo h1,
  .header.headhesive .logo h2 {
    font-size: 30px;
  }
  .header.headhesive .navbar-collapse {
    min-height: 80px;
  }
  .header.headhesive .navbar-nav > li > a {
    line-height: 80px !important;
  }
  .header.headhesive.menu-pills .navbar-nav {
    padding-top: 18px;
  }
  .header.headhesive.menu-pills .navbar-nav > li > a {
    line-height: 44px;
  }
  .header.headhesive.headhesive--stick {
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .header.headhesive.headhesive--stick .logo img {
    height: 28px;
  }
}
body.boxed .header-main {
  margin: 0 auto;
  max-width: 1200px;
}
.header-top {
  background: #0080c0;
  padding: 10px 0;
  color: #800040;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  border-radius: 5px 5px 0px 0px;
}
@media (max-width: 767px) {
  .header-top {
    display: none;
  }
}
.header-top .header-top-nav {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  margin: 0;
  display: inline-block;
}
.header-top .header-top-nav > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.header-top .header-top-nav > li {
  position: relative;
}
.header-top .header-top-nav > li:first-child {
  padding-left: 0;
}
.header-top .header-top-nav > li:first-child > a {
  margin-left: 0;
}
.header-top .header-top-nav > li:first-child > a:after {
  display: none;
}
.header-top .header-top-nav > li > a {
  display: inline-block;
  margin: 0 12px 0 0;
  position: relative;
}
.header-top .header-top-nav > li > a:after {
  content: "";
  display: block;
  position: absolute;
  left: -13px;
  top: 50%;
  margin-top: -4px;
  background: #616161;
  height: 7px;
  width: 1px;
}
.header-top .header-top-nav ul {
  text-transform: none;
  border-radius: 3px;
  padding: 0;
}
.header-top .header-top-nav ul > li {
  font-size: 12px;
}
.header-top .header-top-nav ul > li > a {
  border: none;
  padding: 8px 12px;
  border-top: 1px solid #ccc;
}
.header-top .header-top-nav ul > li > a:hover {
  border-bottom: none;
}
.header-top .header-top-nav ul > li:first-child > a {
  border-top: none;
  border-radius: 3px 3px 0 0;
}
.header-top .header-top-nav ul > li:last-child > a {
  border-radius: 0 0 3px 3px;
}
.header-top .info-item {
  margin-right: 25px;
}
.header-top a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.header-top a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom-color: #616161;
}
.header-top .fa {
  font-size: 14px;
  vertical-align: top;
  margin-right: 5px;
  color: #fff;
}
.header-top-left {
  padding: 0px 40px;
  float: left;
  font-family: tahoma;
}
@media (max-width: 767px) {
  .header-top-left {
    display: none;
  }
}
.header-top-right {
  padding: 0px 40px;
  float: right;
  font-family: tahoma;
  font-size: 15px;
}
.header-top-right > span + span {
  margin-left: 32px;
}
.header-top-right > span + span.info-item {
  margin-left: 25px;
  margin-right: 0;
}
.header-top-right > span.info-item {
  margin-right: 0;
}
@media (max-width: 767px) {
  .header-top-right {
    float: none;
    text-align: center;
  }
}
/* Header Main */
.header-main {
  position: relative;
  background: #ececec;
}
.header-main:before,
.header-main:after {
  content: " ";
  display: table;
}
.header-main:after {
  clear: both;
}
.header-main:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100px;
  max-height: 100%;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#00ffffff', GradientType=0);
}
.header-main > .container {
  position: relative;
}
/* Logo */
.header .logo {
  margin: 0;
  padding: 29px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  float: left;
}
.header .logo img {
  position: relative;
  display: inline-block;
  z-index: 2;
}
.header .logo h1,
.header .logo h2 {
  position: relative;
  z-index: 2;
  font-family: 'Anton', sans-serif;
  font-size: 36px;
  line-height: 1em;
  text-transform: uppercase;
  color: #2f2f2f;
  font-weight: normal;
  margin: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header .logo h1 > a,
.header .logo h2 > a {
  color: #2f2f2f;
  text-decoration: none;
  display: inline-block;
}
.header .logo h1 > a:first-letter,
.header .logo h2 > a:first-letter {
  color: #dc2a0b;
}
.header .logo .tagline {
  margin: 0;
  font-size: 10px;
  line-height: 1.5em;
  text-transform: uppercase;
  color: #a3a3a3;
  position: relative;
  z-index: 2;
}
/* Header Search Form */
.search-form .btn {
  background-image: -webkit-linear-gradient(top, #3d3d3d 0%, #2f2f2f 100%);
  background-image: linear-gradient(to bottom, #3d3d3d 0%, #2f2f2f 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3d3d3d', endColorstr='#ff2f2f2f', GradientType=0);
  text-align: center;
  border-color: #2f2f2f;
  padding-left: 18px;
  padding-right: 18px;
}
.search-form .btn:hover {
  background-image: -webkit-linear-gradient(top, #dd2a0b 0%, #c6250a 100%);
  background-image: linear-gradient(to bottom, #dd2a0b 0%, #c6250a 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdd2a0b', endColorstr='#ffc6250a', GradientType=0);
  border-color: #c6250a;
}
.search-form .btn .fa {
  line-height: 1.3em;
  color: #fff;
  margin-right: 0;
}
.header .search-form {
  float: right;
  padding: 35px 0;
  width: 260px;
  display: none;
  vertical-align: middle;
}
@media (min-width: 992px) {
  .header .search-form {
    display: table-cell;
  }
}
/*
// #Navigation
// --------------------------------------------------
*/
.fhmm {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 0;
  /* Navigation Toggle Button */
}
.fhmm ul {
  list-style: none;
  padding-left: 0px;
}
.fhmm .navbar-toggle {
  margin: 0;
  padding: 9px;
  border-radius: 2px;
  vertical-align: top;
  height: 40px;
  width: 40px;
  background: #2f2f2f;
  position: absolute;
  top: 32px;
  right: 0;
  z-index: 8;
  border: none;
}
.fhmm .navbar-toggle:hover,
.fhmm .navbar-toggle:active,
.fhmm .navbar-toggle:focus {
  background: #434343;
}
.fhmm .navbar-toggle .fa {
  color: #fff;
  font-size: 14px;
  margin-right: 0;
}
.fhmm .navbar-toggle .touch-button {
  display: none;
}
.fhmm .container {
  position: relative;
}
.fhmm .navbar-collapse {
  margin: 0 -30px;
}
@media all and (min-width: 992px) {
  .fhmm .navbar-collapse {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}
.fhmm .navbar-collapse .navbar-nav {
  background: #2f2f2f;
  margin: 0;
}
@media all and (max-width: 991px) {
  .fhmm .navbar-collapse .navbar-nav li a {
    position: relative;
    display: block;
    z-index: 2;
    overflow: hidden;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    padding: 12px 15px;
  }
  .fhmm .navbar-collapse .navbar-nav li a .label {
    margin-left: 4px;
    vertical-align: middle;
  }
  .fhmm .navbar-collapse .navbar-nav li a.thumb-link {
    padding: 0;
  }
  .fhmm .navbar-collapse .navbar-nav li + li {
    border-top: 1px solid #3f3f3f;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .fhmm .navbar-collapse .navbar-nav li.active > a,
  .fhmm .navbar-collapse .navbar-nav li.active > a:hover,
  .fhmm .navbar-collapse .navbar-nav li.active > a:focus {
    background: none !important;
    color: #fff;
  }
  .fhmm .navbar-collapse .navbar-nav li.active > a:before,
  .fhmm .navbar-collapse .navbar-nav li.active > a:hover:before,
  .fhmm .navbar-collapse .navbar-nav li.active > a:focus:before {
    background: none;
  }
  .fhmm .navbar-collapse .navbar-nav li.open > a,
  .fhmm .navbar-collapse .navbar-nav li.open > a:hover,
  .fhmm .navbar-collapse .navbar-nav li.open > a:focus {
    background: none !important;
    color: #fff;
  }
  .fhmm .navbar-collapse .navbar-nav li.open > a:before,
  .fhmm .navbar-collapse .navbar-nav li.open > a:hover:before,
  .fhmm .navbar-collapse .navbar-nav li.open > a:focus:before {
    background: none;
  }
}
@media all and (min-width: 992px) {
  .fhmm .navbar-collapse .navbar-nav {
    float: right;
    background: none;
  }
  .fhmm .navbar-collapse .navbar-nav > li {
    text-align: left;
    list-style: none;
    display: inline-block;
    overflow: visible;
    border: none !important;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
  }
  .fhmm .navbar-collapse .navbar-nav > li + li {
    margin-left: 9px;
  }
  .fhmm .navbar-collapse .navbar-nav > li > a {
    font-size: 16px;
    color: #656464;
    text-decoration: none;
    padding: 0 15px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    line-height: 114px;
    font-weight: 400;
    position: relative;
    z-index: 3;
    float: left;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .fhmm .navbar-collapse .navbar-nav > li > a:before {
    content: "";
    display: block;
    position: absolute;
    height: 4px;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  .fhmm .navbar-collapse .navbar-nav > li > a:hover,
  .fhmm .navbar-collapse .navbar-nav > li > a:focus {
    background: #fff;
    color: #2f2f2f;
  }
  .fhmm .navbar-collapse .navbar-nav > li > a:hover:before,
  .fhmm .navbar-collapse .navbar-nav > li > a:focus:before {
    background: #dc2a0b;
  }
  .fhmm .navbar-collapse .navbar-nav > li.active > a,
  .fhmm .navbar-collapse .navbar-nav > li.active > a:hover,
  .fhmm .navbar-collapse .navbar-nav > li.active > a:focus {
    background: #fff;
    color: #2f2f2f;
  }
  .fhmm .navbar-collapse .navbar-nav > li.active > a:before,
  .fhmm .navbar-collapse .navbar-nav > li.active > a:hover:before,
  .fhmm .navbar-collapse .navbar-nav > li.active > a:focus:before {
    background: #dc2a0b;
  }
  .fhmm .navbar-collapse .navbar-nav > li.open > a,
  .fhmm .navbar-collapse .navbar-nav > li.open > a:hover,
  .fhmm .navbar-collapse .navbar-nav > li.open > a:focus {
    background: #fff;
    color: #2f2f2f;
  }
  .fhmm .navbar-collapse .navbar-nav > li.open > a:before,
  .fhmm .navbar-collapse .navbar-nav > li.open > a:hover:before,
  .fhmm .navbar-collapse .navbar-nav > li.open > a:focus:before {
    background: #dc2a0b;
  }
}
.fhmm .navbar-collapse .navbar-nav > li > .dropdown-menu {
  margin-top: 0;
}
.fhmm .dropdown a,
.fhmm .dropdown-menu a {
  color: #2f2f2f;
}
.fhmm .dropdown a:hover,
.fhmm .dropdown-menu a:hover {
  text-decoration: none;
}
.fhmm .dropdown-menu {
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #efefef;
  padding: 0 15px;
  left: auto;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}
@media (min-width: 992px) {
  .fhmm .dropdown-menu {
    padding: 0;
  }
}
.fhmm .dropdown-menu > li {
  border: none;
}
.fhmm .dropdown-menu > li > a {
  color: #fff !important;
  padding: 10px 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.fhmm .dropdown-menu > li > a:hover {
  -webkit-transition: none;
  transition: none;
  color: #fff;
}
@media (min-width: 992px) {
  .fhmm .dropdown-menu > li > a {
    color: #2f2f2f !important;
  }
  .fhmm .dropdown-menu > li > a:hover {
    color: #2f2f2f;
  }
  .fhmm .dropdown-menu > li > a .label {
    margin-left: 5px;
  }
}
.fhmm .dropdown-menu > li.active > a {
  background: #efefef;
}
.fhmm .dropdown-menu > li + li a {
  border-top: 1px solid #2f2f2f;
}
@media (min-width: 992px) {
  .fhmm .dropdown-menu > li + li a {
    border-top: 1px solid #efefef;
  }
}
@media (min-width: 992px) {
  .fhmm .dropdown-menu .withoutdesc {
    margin-top: 0;
    display: block;
    text-align: left;
    text-transform: none;
    width: 100%;
  }
}
.fhmm .dropdown-menu .fhmm-content.withdesc a:after {
  color: #CFCFCF;
  content: attr(data-description);
  display: block;
  font-size: 11px;
  font-weight: 400;
  line-height: 0;
  margin: 10px 0 15px;
  text-transform: uppercase;
}
.fhmm .dropdown-submenu {
  position: relative;
}
.fhmm .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0;
}
.fhmm .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.fhmm .dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #cccccc;
  margin-top: 5px;
  margin-right: -10px;
}
.fhmm .dropdown-submenu:hover > a:after {
  border-left-color: #ffffff;
}
.fhmm .dropdown-submenu.pull-left {
  float: none;
}
.fhmm .dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
.fhmm i {
  color: #bfbfbf;
  margin-right: 3px;
}
.fhmm video {
  max-width: 100%;
  height: auto;
}
.fhmm iframe,
.fhmm embed,
.fhmm object {
  max-width: 100%;
}
.fhmm .google-map {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  min-height: 200px;
}
.fhmm div.google-map {
  background: rgba(255, 255, 255, 0.5);
  background: #ffffff;
  height: 200px;
  margin: 0 0 0px 0;
  width: 100%;
}
.fhmm #googlemaps img {
  max-width: none;
}
.fhmm [class*="col-"] {
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .fhmm [class*="col-"] {
    padding-bottom: 0;
  }
}
.fhmm .nav,
.fhmm .collapse,
.fhmm .dropup,
.fhmm .dropdown {
  position: static;
}
.fhmm .half {
  width: 50%;
  left: auto !important;
  right: auto !important;
}
.fhmm .half-right {
  left: auto !important;
  right: 0 !important;
}
.fhmm .nav.navbar-right .dropdown-menu {
  left: auto;
  right: 0;
}
.fhmm .fhmm-content {
  padding: 0 10px;
}
@media (min-width: 992px) {
  .fhmm .fhmm-content {
    padding: 20px 25px;
  }
  .fhmm .fhmm-content ul li a {
    display: block;
    padding: 4px 8px;
    margin: 0 -8px 4px -8px;
    border-radius: 2px;
  }
  .fhmm .fhmm-content ul li a:hover {
    background: #efefef;
  }
  .fhmm .fhmm-content ul li.active > a {
    background: #efefef;
  }
}
.fhmm .dropdown.fhmm-fw .dropdown-menu {
  left: 0;
  right: 0;
}
.fhmm hr {
  border-top-color: #3f3f3f;
}
@media all and (min-width: 992px) {
  .fhmm hr {
    border-top-color: #efefef;
  }
}
.fhmm .caret {
  color: #c1c1c1;
  position: relative;
  top: -2px;
}
.fhmm .label {
  margin-left: 8px;
}
.fhmm .title {
  font-size: 1em;
  padding-bottom: 10px;
  border-bottom: 1px solid #3f3f3f;
  color: #969696;
  padding-top: 10px;
}
@media all and (min-width: 992px) {
  .fhmm .title {
    color: #2f2f2f;
    border-bottom: 1px solid #efefef;
    color: #3f3f3f;
    padding-top: 0;
  }
}
@media (max-width: 991px) {
  .fhmm .media + .media {
    padding-top: 15px;
  }
}
.fhmm p:last-child {
  margin-bottom: 0;
}
.fhmm p:last-child a {
  display: inline !important;
  padding: 0 !important;
}
.dropdown-toggle__caret {
  display: inline-block;
  z-index: 10;
  position: relative;
  padding: 0 !important;
  background: none !important;
  width: 20px !important;
  float: right;
  height: 20px;
  margin-top: -32px;
}
@media (min-width: 992px) {
  .dropdown-toggle__caret {
    margin-left: -20px;
    margin-top: 0;
  }
}
.dropdown-toggle__caret:before {
  display: none !important;
}
.dropdown-toggle__caret-holder {
  padding-right: 30px !important;
}
/* Header v2 */
.header-menu-fullw .header-main .navbar-header {
  float: none;
}
.header-menu-fullw .header-main .head-banner {
  padding: 13px 0;
  display: none;
  position: relative;
}
@media (min-width: 992px) {
  .header-menu-fullw .header-main .head-banner {
    display: block;
    float: right;
  }
}
.header-menu-fullw .navbar-toggle {
  right: 15px;
}
.header-menu-fullw .navbar-collapse {
  text-align: left;
  min-height: 0;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #ececec 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #ececec 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffececec', GradientType=0);
}
@media all and (min-width: 992px) {
  .header-menu-fullw .navbar-collapse {
    height: 71px;
    border-top: 1px solid #d8d8d8;
  }
  .header-menu-fullw .navbar-collapse .dropdown.fhmm-fw .dropdown-menu {
    left: 15px;
    right: 15px;
  }
  .header-menu-fullw .navbar-collapse .navbar-nav {
    text-align: left;
    float: left;
  }
  .header-menu-fullw .navbar-collapse .navbar-nav > li > a {
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    line-height: 70px;
    padding: 0 20px;
  }
  .header-menu-fullw .navbar-collapse .navbar-nav > li.signin {
    float: right;
  }
  .header-menu-fullw .navbar-collapse .navbar-nav > li.signin > a:before {
    display: inline !important;
    background: none;
    vertical-align: middle;
    position: static;
    content: "\f007";
    font-family: 'FontAwesome';
    font-size: 14px;
    color: #c1c1c1;
    margin-right: 10px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .header-menu-fullw .navbar-collapse .navbar-nav > li + li {
    margin-left: -1px;
  }
}
/* Header v3 */
.header-top-clean .header-top {
  background: #fafafa;
  border-bottom: 1px solid #eaeaea;
}
.header-top-clean .header-top a {
  color: #2f2f2f;
}
.header-top-clean .header-top a:hover {
  border-bottom-color: #a3a3a3;
}
.header-top-clean .header-top .fa {
  color: #616161;
}
/* Header v4 */
.header-top-colored .header-top {
  background: #dc2a0b;
  color: #fff;
}
.header-top-colored .header-top a {
  color: #fff;
}
.header-top-colored .header-top a:hover {
  border-bottom-color: #fff;
}
.header-top-colored .header-top .fa {
  color: #fff;
}
.header-top-colored .header-top ul > li:before {
  background: #fff;
}
header.menu-colored .fhmm {
  /* Navigation styles - For Desktop */
}
@media all and (min-width: 992px) {
  header.menu-colored .fhmm .navbar-nav > li {
    /* Submenu */
  }
  header.menu-colored .fhmm .navbar-nav > li > a:before {
    display: none;
  }
  header.menu-colored .fhmm .navbar-nav > li > a:hover,
  header.menu-colored .fhmm .navbar-nav > li > a:focus {
    background: #dc2a0b;
    color: #fff !important;
  }
  header.menu-colored .fhmm .navbar-nav > li > a:hover .caret,
  header.menu-colored .fhmm .navbar-nav > li > a:focus .caret {
    color: #fff;
  }
  header.menu-colored .fhmm .navbar-nav > li.active > a,
  header.menu-colored .fhmm .navbar-nav > li.active > a:hover,
  header.menu-colored .fhmm .navbar-nav > li.active > a:focus {
    background: none;
    color: #dc2a0b;
  }
  header.menu-colored .fhmm .navbar-nav > li.open > a,
  header.menu-colored .fhmm .navbar-nav > li.open > a:hover,
  header.menu-colored .fhmm .navbar-nav > li.open > a:focus {
    background: #dc2a0b;
    color: #fff !important;
  }
  header.menu-colored .fhmm .navbar-nav > li.open > a .caret,
  header.menu-colored .fhmm .navbar-nav > li.open > a:hover .caret,
  header.menu-colored .fhmm .navbar-nav > li.open > a:focus .caret {
    color: #fff;
  }
  header.menu-colored .fhmm .navbar-nav > li .dropdown-menu > li.active > a {
    background: #dc2a0b;
    color: #fff !important;
  }
  header.menu-colored .fhmm .navbar-nav > li .dropdown-menu > li > a:hover {
    background: #dc2a0b;
    color: #fff !important;
  }
}
/* Header v5 */
@media all and (min-width: 992px) {
  .header-centered .logo {
    text-align: center;
    width: 100%;
  }
}
@media all and (min-width: 992px) {
  .header-centered .navbar-collapse .navbar-nav {
    text-align: center;
    float: none;
  }
  .header-centered .navbar-collapse .navbar-nav > li {
    float: none;
    vertical-align: middle;
  }
  .header-centered .navbar-collapse .navbar-nav > li > a {
    padding-left: 28px;
    padding-right: 28px;
    margin-left: -4px;
  }
  .header-centered .navbar-collapse .navbar-nav > li .dropdown-menu {
    margin-left: -3px;
  }
}
/* Header v6 */
header.menu-pills .fhmm {
  /* Navigation styles - For Desktop */
}
@media all and (min-width: 992px) {
  header.menu-pills .fhmm .navbar-nav {
    background: none;
    padding-top: 35px;
  }
  header.menu-pills .fhmm .navbar-nav > li {
    border-radius: 8px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header.menu-pills .fhmm .navbar-nav > li > a {
    line-height: 44px;
    border-radius: 8px;
  }
  header.menu-pills .fhmm .navbar-nav > li > a:before {
    display: none;
  }
  header.menu-pills .fhmm .navbar-nav > li > a:hover,
  header.menu-pills .fhmm .navbar-nav > li > a:focus {
    background: #dc2a0b;
    color: #fff !important;
  }
  header.menu-pills .fhmm .navbar-nav > li > a:hover .caret,
  header.menu-pills .fhmm .navbar-nav > li > a:focus .caret {
    color: #fff;
  }
  header.menu-pills .fhmm .navbar-nav > li.active > a,
  header.menu-pills .fhmm .navbar-nav > li.active > a:hover,
  header.menu-pills .fhmm .navbar-nav > li.active > a:focus {
    background: none;
    color: #dc2a0b;
  }
  header.menu-pills .fhmm .navbar-nav > li.open > a,
  header.menu-pills .fhmm .navbar-nav > li.open > a:hover,
  header.menu-pills .fhmm .navbar-nav > li.open > a:focus {
    background: #dc2a0b;
    color: #fff !important;
  }
  header.menu-pills .fhmm .navbar-nav > li.open > a .caret,
  header.menu-pills .fhmm .navbar-nav > li.open > a:hover .caret,
  header.menu-pills .fhmm .navbar-nav > li.open > a:focus .caret {
    color: #fff;
  }
}
header.menu-pills.headhesive .fhmm .navbar-nav {
  /* Remove Top Padding from Sticky Menu */
}
@media all and (min-width: 992px) {
  header.menu-pills.headhesive .fhmm .navbar-nav {
    padding-top: 0;
  }
}
/* Header v7 (transparent) */
header.header-transparent:not(.headhesive) {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
header.header-transparent:not(.headhesive) .header-main {
  background: none;
}
header.header-transparent:not(.headhesive) .header-main:before {
  display: none;
}
header.header-transparent:not(.headhesive) .logo h1,
header.header-transparent:not(.headhesive) .logo h2 {
  color: #fff;
}
header.header-transparent:not(.headhesive) .logo h1 > a,
header.header-transparent:not(.headhesive) .logo h2 > a {
  color: #fff;
}
header.header-transparent:not(.headhesive) .logo .tagline {
  color: rgba(255, 255, 255, 0.5);
}
header.header-transparent:not(.headhesive) .fhmm {
  /* Navigation styles - For Desktop */
}
@media all and (min-width: 992px) {
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li > a {
    color: rgba(255, 255, 255, 0.75);
  }
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li > a:before {
    display: none;
  }
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li > a:hover,
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li > a:focus {
    background: none;
    color: #fff !important;
  }
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li > a:hover .caret,
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li > a:focus .caret {
    color: #fff;
  }
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li.active > a,
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li.active > a:hover,
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li.active > a:focus {
    background: none;
    color: #fff;
  }
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li.open > a,
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li.open > a:hover,
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li.open > a:focus {
    background: none;
    color: #fff !important;
  }
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li.open > a .caret,
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li.open > a:hover .caret,
  header.header-transparent:not(.headhesive) .fhmm .navbar-nav > li.open > a:focus .caret {
    color: #fff;
  }
}
header.header-transparent ~ .site-wrapper .main .tp-banner-holder {
  border-top: none;
}
/* One Page */
header.header-fixed {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0 !important;
}
.one-page.sticky-header {
  padding-top: 0 !important;
}
.one-page .tp-banner-holder {
  border-top: none;
}
.one-page .footer-copyright {
  padding: 60px 0;
}
.one-page .footer .social-links {
  margin-bottom: 20px;
}
.one-page .page-content {
  padding: 10px;
}
/*
// #Sliders
// --------------------------------------------------
*/
/* Revolution Slider */
.tp-banner {
  max-height: 526px;
}
.tp-banner-container .tp-caption {
  opacity: 0;
  filter: alpha(opacity=0);
}
.tp-banner-holder {
  border-top: 6px solid #d4d4d4;
  border-bottom: 6px solid #d4d4d4;
  position: relative;
  background: #2f2f2f;
}
.tp-banner-holder:before,
.tp-banner-holder:after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  background: #bfbfbf;
}
.tp-banner-holder:before {
  top: -6px;
}
.tp-banner-holder:after {
  bottom: -6px;
}
.tp-banner-container {
  position: relative;
}
.tp-banner {
  width: 100%;
  padding: 0;
  position: relative;
}
.tp-banner ul {
  padding-left: 0;
  list-style: none;
}
.tp-banner-fullscreen-container {
  width: 100%;
  position: relative;
  padding: 0;
}
/* Revolution Slider (Custom styles) */
.tp-dottedoverlay.filled {
  background: #000;
  opacity: 0.55;
  filter: alpha(opacity=55.00000000000001);
  height: 66%;
  top: 17%;
  z-index: 1;
}
.tp-dottedoverlay.twoxtwo-custom {
  background: -webkit-radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.52) 1%, rgba(0, 0, 0, 0.5) 100%);
  background: -moz-radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.52) 1%, rgba(0, 0, 0, 0.5) 100%);
  background: -ms-radial-gradient(50% 55%, ellipse closest-corner, rgba(0, 0, 0, 0.52) 1%, rgba(0, 0, 0, 0.5) 100%);
  z-index: 1;
}
.tp-caption.large_bold_white,
.tp-caption.mediumwhitebg {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.tp-caption.large_bold_white {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.tp-caption.mediumwhitebg {
  line-height: 1em;
  padding: 7px 15px;
}
.tp-caption.finewide_small_white {
  border-width: 0px;
  border-style: none;
  border-color: #000000;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 0;
  font-weight: 400;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  line-height: 24px;
}
.tp-caption.stability_large_white {
  border-width: 0px;
  border-style: none;
  border-color: #000000;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 0;
  font-weight: 400;
  font-size: 72px;
  font-family: 'Anton', sans-serif;
  line-height: 72px;
}
.tp-caption.stability_large_white_amp {
  border-width: 0px;
  border-style: none;
  border-color: #000000;
  background-color: transparent;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 0;
  font-weight: 400;
  font-size: 72px;
  font-family: 'Goudy Bookletter 1911', serif;
  line-height: 72px;
}
.tp-caption.stability_large_white_bg {
  border-width: 0px;
  border-style: none;
  border-color: #000000;
  background-color: transparent;
  color: #2f2f2f;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: none;
  letter-spacing: 0;
  font-weight: 400;
  font-size: 72px;
  font-family: 'Anton', sans-serif;
  line-height: 72px;
}
.tp-caption.stability_graydivider2px {
  color: #000000;
  text-shadow: none;
  background-color: #ffffff;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  font-size: 0px;
  line-height: 0;
  min-width: 77px;
  min-height: 2px;
  border-width: 0px;
  border-color: #000000;
  border-style: none;
}
.tp-caption.stability_verysmall_white_mw {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-family: 'Muli', sans-serif;
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
  text-shadow: none;
  letter-spacing: 0;
  max-width: 500px;
  white-space: normal !important;
  border-width: 0px;
  border-color: #000000;
  border-style: none;
}
.tp-caption.modern_medium_white {
  position: absolute;
  color: #fff;
  text-shadow: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 20px;
  font-family: 'Muli', sans-serif;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
}
.tp-caption.with-icon .icon {
  width: 100px;
  height: 100px;
  font-size: 48px;
  line-height: 100px;
  margin-bottom: 0;
}
.tp-caption.with-icon .circled .icon:after {
  background: rgba(0, 0, 0, 0.1);
}
/* Banner Timer */
.tp-bannertimer {
  display: none;
}
/* Bullets (pagination) */
.tp-bullets {
  z-index: 98 !important;
}
.tp-bullets.simplebullets.navbar {
  height: 35px;
  padding: 0px 0px;
}
.tp-bullets.simplebullets .bullet {
  position: relative;
  display: inline-block;
  margin: 0 6px !important;
  width: 16px !important;
  height: 16px !important;
  padding: 3px !important;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.25) !important;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.tp-bullets.simplebullets .bullet:after {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  left: 3px;
  top: 3px;
  background: #2f2f2f;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.tp-bullets.simplebullets .bullet.last {
  margin-right: 0px;
}
.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #dc2a0b;
}
.tp-bullets.simplebullets .bullet:hover:after,
.tp-bullets.simplebullets .bullet.selected:after {
  background: #dc2a0b;
}
.tparrows {
  display: block;
  font-size: 14px;
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  line-height: 42px;
  background: none !important;
  z-index: 98 !important;
}
.tparrows:before {
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  z-index: 2;
  display: block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  content: "";
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.tparrows:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
  border-radius: 50%;
  background: #2f2f2f;
  content: "";
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  font-family: 'FontAwesome';
  font-size: 14px;
  color: #f7f7f7;
  font-style: normal;
  font-weight: normal;
  line-height: 50px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
.tparrows:hover {
  color: #fff;
}
.tp-leftarrow:after {
  content: '\f053';
}
.tp-rightarrow:after {
  content: '\f054';
}
.tparrows.tp-rightarrow:after {
  margin-left: 1px;
}
.tparrows:hover:after {
  background: #fff;
  color: #2f2f2f;
}
/* Royal Slider (custom styles) */
.sliderHolder {
  padding: 40px 0 0 0;
  border-top: 5px solid #d4d4d4;
  position: relative;
}
.sliderHolder:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background: #bebebe;
}
.royalSlider {
  width: 100%;
  height: 240px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .royalSlider {
    height: 420px;
  }
}
@media (min-width: 992px) {
  .royalSlider {
    height: 580px;
  }
}
.rsOverlay {
  opacity: 0.55;
  filter: alpha(opacity=55.00000000000001);
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  height: 80%;
  background: #000;
}
@media (min-width: 768px) {
  .rsOverlay {
    height: 66%;
    top: 17%;
  }
}
.bContainer {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .bContainer {
    top: 30%;
  }
}
.bContainer .txtCent {
  width: 100%;
  text-align: center;
}
.bContainer .txtCent.stability_verysmall_white_mw {
  width: auto;
  margin: 0 auto;
}
.bContainer .stability_large_white {
  padding: 13px 0;
  margin-bottom: 18px;
}
.bContainer .stability_large_white span {
  font-family: 'Goudy Bookletter 1911', serif;
}
.bContainer .stability_graydivider2px {
  min-width: 37px;
  max-width: 37px;
  height: 2px;
  left: 50%;
  position: absolute !important;
  top: 6px;
}
@media (min-width: 768px) {
  .bContainer .stability_graydivider2px {
    top: 10px;
    min-width: 77px;
    max-width: 77px;
  }
}
.bContainer .stability_graydivider2px.left {
  margin-left: -90px;
}
@media (min-width: 768px) {
  .bContainer .stability_graydivider2px.left {
    margin-left: -140px;
  }
}
@media (min-width: 992px) {
  .bContainer .stability_graydivider2px.left {
    margin-left: -160px;
  }
}
.bContainer .stability_graydivider2px.right {
  margin-left: 50px;
}
@media (min-width: 768px) {
  .bContainer .stability_graydivider2px.right {
    margin-left: 60px;
  }
}
@media (min-width: 992px) {
  .bContainer .stability_graydivider2px.right {
    margin-left: 80px;
  }
}
.bContainer .finewide_small_white {
  font-size: 14px;
  line-height: 1.2em;
}
@media (min-width: 768px) {
  .bContainer .finewide_small_white {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  .bContainer .finewide_small_white {
    font-size: 24px;
    line-height: 1em;
  }
}
.bContainer .stability_large_white {
  font-size: 32px;
  line-height: 1em;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .bContainer .stability_large_white {
    font-size: 48px;
  }
}
@media (min-width: 992px) {
  .bContainer .stability_large_white {
    font-size: 72px;
    line-height: 1em;
    margin-bottom: 18px;
  }
}
.bContainer .stability_verysmall_white_mw {
  font-size: 11px;
  line-height: 1.5em;
  max-width: 300px;
}
@media (min-width: 768px) {
  .bContainer .stability_verysmall_white_mw {
    font-size: 13px;
    max-width: 500px;
  }
}
@media (min-width: 992px) {
  .bContainer .stability_verysmall_white_mw {
    font-size: 16px;
    line-height: 20px;
  }
}
.rsABlock {
  position: relative;
}
.rsThumb {
  font-size: 14px;
  line-height: 18px;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  padding: 23px;
  color: #2f2f2f;
  border-left: 1px solid #e5e5e5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.rsThumb:first-child {
  border-left: none;
}
.rsThumb.rsNavSelected {
  color: #fff;
}
/* Layer Slider */
.layerslider-wrapper {
  border-top: 6px solid #d4d4d4;
  border-bottom: 6px solid #d4d4d4;
  position: relative;
  background: #2f2f2f;
}
.layerslider-wrapper:before,
.layerslider-wrapper:after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  background: #bfbfbf;
}
.layerslider-wrapper:before {
  top: -6px;
}
.layerslider-wrapper:after {
  bottom: -6px;
}
.ls-slider .ls-overlay {
  display: block;
  position: absolute;
  left: 0;
  background: #000;
  opacity: 0.55;
  filter: alpha(opacity=55.00000000000001);
  height: 66%;
  top: 17%;
  z-index: 999999;
}
.ls-icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 42px;
  text-align: center;
  color: #fff;
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.ls-icon:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
}
.ls-icon:after {
  content: "";
  display: block;
  position: absolute;
  left: -4px;
  top: -4px;
  bottom: -4px;
  right: -4px;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.1);
}
.ls-icon .fa {
  position: relative;
  z-index: 2;
}
.ls-icon.ls-icon-lg {
  width: 200px;
  height: 200px;
  line-height: 200px;
  color: #dc2a0b;
  font-size: 140px;
  text-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}
.ls-icon.ls-icon-lg:before {
  background: none;
}
.ls-icon.ls-icon-lg:after {
  background: none;
}
.ls-caption1 {
  background: #dc2a0b;
  font-size: 24px;
  line-height: 1.2em;
  padding: 0 10px;
  line-height: 40px;
  height: 40px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
.ls-caption2 {
  background: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  line-height: 1.2em;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  color: #fff;
}
.ls-caption3 {
  background: #dc2a0b;
  font-size: 64px;
  line-height: 1.2em;
  padding: 0 10px;
  line-height: 80px;
  height: 80px;
  color: #fff;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
/*
// #Content
// --------------------------------------------------
*/
/* Page Heading */
.page-heading {
  background: #2f2f2f;
  border-top: 6px solid #d4d4d4;
  border-bottom: 6px solid #d4d4d4;
  position: relative;
  text-align: center;
  /* Page Title */
  /* Breadcrumbs */
  /* Search Form */
  /* Large */
  /* Background Image */
  /* Slideshow */
}
@media (min-width: 992px) {
  .page-heading {
    text-align: left;
  }
}
.page-heading:before,
.page-heading:after {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  left: 0;
  right: 0;
  background: #bfbfbf;
}
.page-heading:before {
  top: -6px;
}
.page-heading:after {
  bottom: -6px;
}
.page-heading h1 {
  font-size: 24px;
  margin: 0;
  color: #fff;
  padding: 25px 0 10px 0;
  text-transform: uppercase;
}
@media (min-width: 992px) {
  .page-heading h1 {
    padding: 25px 0;
  }
}
.page-heading .breadcrumb {
  background: none;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 20px 0;
}
@media (min-width: 992px) {
  .page-heading .breadcrumb {
    text-align: right;
    padding: 29px 0;
  }
}
.page-heading .breadcrumb > li + li:before {
  content: "\2022";
  padding-right: 6px;
}
.page-heading .breadcrumb a {
  color: #fff;
}
.page-heading .search-form {
  padding: 16px 0;
}
.page-heading .search-form .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.page-heading .search-form .btn {
  background: #dc2a0b;
  border-color: #dc2a0b;
}
.page-heading.page-heading__lg {
  padding: 30px 0 0 0;
}
@media (min-width: 768px) {
  .page-heading.page-heading__lg {
    padding-top: 60px;
  }
}
@media (min-width: 992px) {
  .page-heading.page-heading__lg {
    padding-top: 120px;
  }
}
.page-heading.page-heading__image {
  background-image: url(../images/samples/slide-bg-sm.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}
.page-heading.page-heading__image:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  background: #000;
  opacity: 0.55;
  filter: alpha(opacity=55.00000000000001);
}
@media (min-width: 992px) {
  .page-heading.page-heading__image {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
  }
}
.page-heading.page-heading__image h1 {
  padding-bottom: 0;
  text-align: left;
}
@media (min-width: 992px) {
  .page-heading.page-heading__image h1 {
    padding-bottom: 0;
  }
}
.page-heading.page-heading__image .breadcrumb {
  text-align: left;
  padding-top: 6px;
}
@media (min-width: 992px) {
  .page-heading.page-heading__image .breadcrumb {
    text-align: left;
  }
}
.page-heading.page-heading__slideshow {
  overflow: hidden !important;
}
.page-heading.page-heading__slideshow .tp-banner {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}
.page-heading.page-heading__slideshow h1 {
  padding-bottom: 0;
  text-align: left;
  position: relative;
  z-index: 2;
}
@media (min-width: 992px) {
  .page-heading.page-heading__slideshow h1 {
    padding-bottom: 0;
  }
}
.page-heading.page-heading__slideshow .breadcrumb {
  text-align: left;
  padding-top: 6px;
  position: relative;
  z-index: 2;
}
@media (min-width: 992px) {
  .page-heading.page-heading__slideshow .breadcrumb {
    text-align: left;
  }
}
.page-heading.page-heading__slideshow .tp-dottedoverlay.filled {
  height: 100%;
  top: 0;
}
.page-content {
  padding-top: 90px;
  padding-bottom: 90px;
}
.section-dark {
  margin: 70px -100% 70px -100%;
  padding: 55px 100% 60px 100%;
  background: #2f2f2f;
  overflow: hidden;
}
.section-light {
  margin: 70px -100% 70px -100%;
  padding: 55px 100% 60px 100%;
  background: #f7f7f7;
  overflow: hidden;
  border-top: 1px solid #e4e4e4;
}
.section-bottom {
  margin-top: 20px;
  margin-bottom: -90px !important;
}
/* One Page section */
.section {
  padding: 80px 0;
}
.section.light {
  background: #fff;
}
.section.dark {
  background: #2f2f2f;
  color: #a3a3a3;
}
.section.dark h1,
.section.dark .h1,
.section.dark h2,
.section.dark .h2,
.section.dark h3,
.section.dark .h3,
.section.dark h4,
.section.dark .h4,
.section.dark h5,
.section.dark .h5,
.section.dark h6,
.section.dark .h6 {
  color: #fff;
}
.section.dark label {
  color: #a3a3a3;
}
.section.primary {
  background: #dc2a0b;
}
.section.primary h1,
.section.primary .h1,
.section.primary h2,
.section.primary .h2,
.section.primary h3,
.section.primary .h3,
.section.primary h4,
.section.primary .h4,
.section.primary h5,
.section.primary .h5,
.section.primary h6,
.section.primary .h6 {
  color: #2f2f2f;
}
.section.primary .title-decorated:before,
.section.primary .title-decorated:after {
  background: #fff;
}
.section.primary .title-decorated h1:before {
  background: #fff;
}
.section.primary .title-decorated h1 > span {
  color: #fff;
}
.section.primary .circliful {
  color: #fff;
}
.section.primary .circliful .fa {
  color: #2f2f2f;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.section.section__nopadding {
  padding: 0;
}
.section .googlemap-wrapper {
  margin: 0;
}
.section.section__fullw {
  margin: 80px -100% 80px -100%;
  padding: 80px 100%;
  overflow: hidden;
}
.section.section__no-top-margin {
  margin-top: 0;
}
.section.section__no-bottom-margin {
  margin-bottom: 0;
}
.section.section__close-to-footer {
  margin-bottom: -90px !important;
}
/* Featured Section */
.featured-section {
  margin: 70px -100% 70px -100%;
  padding: 0 100% 0 100%;
  background-image: url(../images/samples/slide-bg-sm.jpg);
  background-position: 0 0;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.featured-section.bg2 {
  background-image: url(../images/samples/bg2.jpg);
}
@media (min-width: 992px) {
  .featured-section {
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
  }
}
.featured-section.featured-section__normal-padding {
  padding-top: 60px;
  padding-bottom: 60px;
}
.featured-section.featured-section__lg-padding {
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.featured-section.featured-section__alt {
  margin-bottom: -40px;
}
h2 + .featured-section {
  margin-top: 30px;
}
.featured-section:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: #000;
  opacity: 0.55;
  filter: alpha(opacity=55.00000000000001);
}
.featured-section .circliful {
  color: #fff;
}
.featured-item {
  height: 300px;
  padding: 35px;
  position: relative;
  background: transparent;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
.featured-item:before {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.2);
}
@media (min-width: 992px) {
  .featured-item:before {
    left: -15px;
    right: auto;
    bottom: 0;
    width: 1px;
    height: 20px;
  }
}
.featured-item:after {
  content: "";
  display: none;
  position: absolute;
  bottom: 15px;
  top: 15px;
  left: -15px;
  width: 1px;
  background: rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) and (max-width: 991px) {
  .featured-item:after {
    display: block;
  }
}
@media (min-width: 992px) {
  .featured-item:after {
    display: none;
  }
}
@media (min-width: 992px) {
  .row > [class^='col-']:first-child .featured-item:before {
    display: none;
  }
}
.row > [class^='col-']:first-child .featured-item:after,
.row > [class^='col-']:nth-child(3n) .featured-item:after {
  display: none;
}
.featured-item .featured-link {
  text-align: left;
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  color: #fff;
}
.featured-item .featured-main {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 60px;
}
.featured-item .featured-icon {
  font-size: 42px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.featured-item .featured-title {
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.featured-item .featured-subtitle {
  color: #fff;
  line-height: 1.5em;
}
.featured-item .featured-desc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (min-width: 992px) {
  .featured-item .featured-desc {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
.featured-item .featured-desc > p {
  font-size: 14px;
  line-height: 18px;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
@media (min-width: 992px) {
  .featured-item:hover {
    background-color: #dc2a0b;
  }
  .featured-item:hover .featured-icon {
    -webkit-animation: moveFromBottom 300ms ease;
    animation: moveFromBottom 300ms ease;
  }
  .featured-item:hover .featured-title {
    -webkit-animation: smallToBig 300ms ease;
    animation: smallToBig 300ms ease;
  }
  .featured-item:hover .featured-desc {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-animation: moveFromBottom 300ms ease;
    animation: moveFromBottom 300ms ease;
  }
}
@-webkit-keyframes smallToBig {
  from {
    -webkit-transform: scale(0.1);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes smallToBig {
  from {
    -moz-transform: scale(0.1);
  }
  to {
    -moz-transform: scale(1);
  }
}
@-ms-keyframes smallToBig {
  from {
    -ms-transform: scale(0.1);
  }
  to {
    -ms-transform: scale(1);
  }
}
@-webkit-keyframes moveFromBottom {
  from {
    -webkit-transform: translateY(100%);
  }
  to {
    -webkit-transform: translateY(0%);
  }
}
@-moz-keyframes moveFromBottom {
  from {
    -moz-transform: translateY(100%);
  }
  to {
    -moz-transform: translateY(0%);
  }
}
@-ms-keyframes moveFromBottom {
  from {
    -ms-transform: translateY(100%);
  }
  to {
    -ms-transform: translateY(0%);
  }
}
/*
// #Widgets
// --------------------------------------------------
*/
.widget__sidebar {
  margin-bottom: 65px;
}
/* Base Widgets */
.widget_archive ul,
.widget_nav_menu ul,
.widget_meta ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_categories ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.widget_archive ul li,
.widget_nav_menu ul li,
.widget_meta ul li,
.widget_pages ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_categories ul li {
  padding: 8px 0 10px 20px;
  position: relative;
  border-bottom: 1px solid #dcdcdc;
}
.widget_archive ul li:before,
.widget_nav_menu ul li:before,
.widget_meta ul li:before,
.widget_pages ul li:before,
.widget_recent_comments ul li:before,
.widget_recent_entries ul li:before,
.widget_categories ul li:before {
  position: absolute;
  top: 10px;
  left: 0;
  display: block;
  content: "\f0da";
  font-family: 'FontAwesome';
  font-size: 14px;
  color: #dc2a0b;
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.widget_archive ul ul,
.widget_nav_menu ul ul,
.widget_meta ul ul,
.widget_pages ul ul,
.widget_recent_comments ul ul,
.widget_recent_entries ul ul,
.widget_categories ul ul {
  margin-top: 1em;
  margin-bottom: -1em;
}
.widget_recent_comments ul li:before {
  content: "\f075";
}
/* Widget :: Latest Post Widget */
.widget .latest-posts-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.widget .latest-posts-list > li {
  overflow: hidden;
}
.widget .latest-posts-list > li + li {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
.widget .thumbnail {
  float: left;
  margin: 0 20px 0 0;
}
.widget .date {
  display: block;
  color: #b4b8be;
  margin-bottom: .5em;
  font-size: 11px;
}
.widget .title {
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Muli', sans-serif;
  overflow: hidden;
}
.widget .title > a {
  -webkit-transition: none;
  transition: none;
  padding-top: .3em;
}
.widget .title > a:hover {
  color: #dc2a0b;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.widget.widget__footer .latest-posts-list > li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
.widget.widget__footer .date {
  color: #fff;
}
.widget.widget__footer .title > a {
  color: #a3a3a3;
}
.widget.widget__footer .title > a:hover {
  color: #dc2a0b;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
/* Widget :: Contacts Info */
.contacts-widget .contacts-info-list {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.contacts-widget .contacts-info-list > li {
  position: relative;
  padding-left: 50px;
  min-height: 32px;
  display: table;
}
.contacts-widget .contacts-info-list > li + li {
  margin-top: 22px;
}
.contacts-widget .contacts-info-list > li .info-item {
  display: table-cell;
  vertical-align: middle;
}
.contacts-widget .contacts-info-list > li > .fa {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #2f2f2f;
  line-height: 32px;
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.section.dark .contacts-widget .contacts-info-list > li > .fa {
  background: rgba(255, 255, 255, 0.1);
}
.contacts-widget .contacts-info-list > li a {
  -webkit-transition: none;
  transition: none;
}
.contacts-widget .contacts-info-list > li a:hover {
  text-decoration: underline;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.contacts-widget.widget__footer .contacts-info-list > li > .fa {
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
}
.contacts-widget.widget__footer .contacts-info-list > li a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
.contacts-widget.widget__footer .contacts-info-list > li a:hover {
  text-decoration: none;
  color: #dc2a0b;
}
/* Widget :: Flickr */
.widget_flickr {
  overflow: hidden;
}
.widget_flickr .flickr-feed {
  padding-left: 0;
  list-style: none;
  margin-right: -15px;
}
.widget_flickr .flickr-feed > li {
  float: left;
  margin: 0 0 15px 0;
  width: 33.3%;
  padding-right: 15px;
}
@media (min-width: 400px) {
  .widget_flickr .flickr-feed > li {
    width: 25%;
  }
}
@media (min-width: 620px) {
  .widget_flickr .flickr-feed > li {
    width: 16.66%;
  }
}
@media (min-width: 992px) {
  .widget_flickr .flickr-feed > li {
    width: 33.3%;
  }
}
.widget_flickr .flickr-feed > li > a {
  display: block;
  position: relative;
  border: 0 solid transparent !important;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.widget_flickr .flickr-feed > li > a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  border: 0 solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.widget_flickr .flickr-feed > li > a:hover:before {
  border-width: 4px;
  border-color: #dc2a0b;
}
.widget_flickr .flickr-feed > li > a img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.widget_flickr .flickr-feed > li > a img:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.widget_flickr.widget__footer .flickr-feed > li > a:hover:before {
  border-color: #fff;
}
/* Widget :: Tag Cloud */
.widget_tag_cloud .tagcloud a {
  display: inline-block;
  padding: 4px 8px;
  border: 1px solid #cecece;
  border-radius: 4px;
  margin: 0 3px 6px 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer-widgets .widget_tag_cloud .tagcloud a {
  border-color: rgba(255, 255, 255, 0.1);
}
.widget_tag_cloud .tagcloud a:hover {
  background: #fff;
  border-color: #fff;
  color: #2f2f2f;
  text-decoration: none;
  -webkit-transition: none;
  transition: none;
}
.widget_tag_cloud.widget__sidebar .tagcloud a {
  color: #2f2f2f;
  border-color: #e4e4e4;
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #f4f4f4 100%);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f4f4f4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff4f4f4', GradientType=0);
}
.widget_tag_cloud.widget__sidebar .tagcloud a:hover {
  background: #2f2f2f;
  color: #fff;
}
/* Widget :: Tabbed */
.tabbed-widget .tabs .tab-content {
  padding: 15px;
}
@media (max-width: 1199px) {
  .tabbed-widget .tabs .nav-tabs > li > a {
    padding-left: 14px;
    padding-right: 14px;
  }
}
.tabbed-widget .tabs .nav-tabs > li > a .fa {
  margin-right: 0;
}
/*
// #Page :: About Us
// --------------------------------------------------
*/
/* Team List */
.team-list {
  padding-left: 0;
  list-style: none;
  overflow: hidden;
  margin-bottom: -20px;
}
.team-list > li {
  margin-bottom: 40px;
}
.team-list > li:before,
.team-list > li:after {
  content: " ";
  display: table;
}
.team-list > li:after {
  clear: both;
}
@media (min-width: 767px) and (max-width: 992px) {
  .team-list > li .alignnone {
    float: left;
    margin-right: 20px;
  }
}
.team-list > li .team-head .team-head-info {
  color: #b4b8be;
  display: block;
  padding-bottom: 5px;
}
.team-list > li .team-head .team-social {
  margin-bottom: 15px;
}
.team-list > li .team-head .team-social > li {
  padding-bottom: 5px;
}
.team-list > li .team-head .team-social > li .fa {
  width: 20px;
  text-align: right;
  font-size: 14px;
  color: #b4b8be;
  margin-right: 10px;
}
.team-list > li .team-excerpt {
  overflow: hidden;
}
@media (min-width: 992px) {
  .team-list > li .team-excerpt {
    height: 60px;
  }
}
/* Team Member */
.team-single-head {
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 30px;
}
.team-single-head h2 {
  margin-bottom: .2em;
}
/*
// #Page :: 404 Error Page
// --------------------------------------------------
*/
.error-title {
  font-size: 110px;
  color: #dc2a0b;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  margin: 0 0 .3em 0;
}
@media (min-width: 992px) {
  .error-title {
    font-size: 220px;
  }
}
/*
// #Page :: Coming Soon
// --------------------------------------------------
*/
/* Header (Coming Soon) */
.header-coming-soon {
  text-align: center;
  border-top: 4px solid #2f2f2f;
  border-bottom: 1px solid #ddd;
}
.header-coming-soon .header-main {
  display: block;
  margin: 0;
  padding: 30px 0;
  height: auto;
}
.header-coming-soon .header-main:before,
.header-coming-soon .header-main:after {
  content: " ";
  display: table;
}
.header-coming-soon .header-main:after {
  clear: both;
}
@media (min-width: 992px) {
  .header-coming-soon .header-main {
    padding: 80px 0;
  }
}
.header-coming-soon .header-main > .container {
  margin-bottom: 0;
  height: auto;
}
.header-coming-soon .header-main .logo {
  display: block;
  float: none;
  height: auto;
}
.main__padd-top {
  padding-top: 0;
}
@media (min-width: 768px) {
  .main__padd-top {
    padding-top: 80px;
  }
}
/* Countdown */
.countdown {
  position: relative;
  padding: 40px 0 20px 0;
}
.countdown [class^="col-"] div {
  display: block !important;
  margin: 0 auto !important;
}
.countdown .count-label {
  display: block;
  text-align: center;
}
.googlemap-wrapper {
  position: relative;
  margin: -91px 0 50px 0;
}
.googlemap-wrapper img {
  max-width: none !important;
}
.map-canvas {
  width: 100%;
  height: 200px;
  padding: 6px;
  background-color: #e5e5e5;
  border: 1px solid #cecece;
}
@media (min-width: 768px) {
  .map-canvas {
    height: 320px;
  }
}
@media (min-width: 992px) {
  .map-canvas {
    margin-bottom: 0;
    height: 390px;
  }
}
.map-canvas:before {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin: -15px 0 0 -15px;
  width: 30px;
  height: 30px;
  color: #2f2f2f;
  content: '\f110';
  text-align: center;
  font-size: 20px;
  font-family: 'FontAwesome';
  line-height: 30px;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*
// #Blog
// --------------------------------------------------
*/
.entry {
  border-bottom: 1px solid #dcdcdc;
  padding-bottom: 30px;
  margin-bottom: 60px;
  position: relative;
  text-align: center;
}
@media (min-width: 992px) {
  .entry {
    text-align: left;
  }
}
@media (min-width: 992px) {
  .entry.entry__with-icon {
    padding: 0 0 6px 80px;
  }
}
.entry.entry__with-icon .entry-icon {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 70px;
  height: 70px;
  line-height: 62px;
  margin-right: 30px;
  font-size: 28px;
  text-align: center;
  background-color: #dc2a0b;
  background-image: url(../images/noise.png);
  border-radius: 50%;
  border: 4px solid #ebebeb;
  color: #fff;
}
.entry .entry-header {
  margin-left: 5px; 
  margin-bottom: 10px;
  text-align: left;
}
.entry .entry-header h2 {
  margin-bottom: .25em;
}
.entry .entry-header h2 > a {
  color: #2f2f2f;
}
.entry .entry-header h2 > a:hover {
  text-decoration: none;
  color: #dc2a0b;
}
.entry .entry-header h2.small {
  font-size: 16px;
}
.entry .entry-meta {
  font-size: 12px;
  color: #b4b8be;
  font-style: italic;
}
.entry .entry-meta > span:before {
  content: "/";
  display: inline-block;
  padding: 0 6px 0 2px;
}
.entry .entry-meta > span:first-child:before {
  display: none;
}
.entry .entry-meta a {
  border-bottom: 1px solid transparent;
}
.entry .entry-meta a:hover {
  text-decoration: none;
  border-bottom: 1px solid #dc2a0b;
}
.entry .entry-thumb {
  overflow: hidden;
  padding: 6px;
  background-color: #e5e5e5;
  border: 1px solid #cecece;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  max-width: 100%;
  height: auto;
  position: relative;
  display: inline-block;
  margin: 0 auto 30px auto;
  text-align: center;
}
@media (min-width: 992px) {
  .entry .entry-thumb {
    display: block;
  }
}
.entry .entry-thumb > a {
  display: block;
  position: relative;
}
.entry .entry-thumb > a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #dc2a0b;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}
.entry .entry-thumb > a:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(0, -15px);
  -ms-transform: translate(0, -15px);
  transform: translate(0, -15px);
  z-index: 2;
  margin: -8px 0 0 -13px;
  content: "\f0c1";
  font-family: 'FontAwesome';
  font-size: 28px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.entry .entry-thumb:hover > a:before {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.entry .entry-thumb:hover > a:after {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.entry .entry-thumb:hover img {
  -webkit-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
.entry .entry-thumb img {
  padding: 0;
  border: none;
  background: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 0;
}
.entry .excerpt {
  margin-bottom: 36px;
  text-align: left;
}
.entry .entry-footer {
  text-align: left;
}
.entry .entry-content {
  text-align: left;
}
.entry.entry__image .entry-thumb img {
  margin-bottom: 0;
}
.entry.entry__link .entry-header {
  margin-bottom: 0;
}
.entry.entry__link .entry-header h2 {
  margin-bottom: .5em;
}
.entry.entry__link .entry-url {
  display: block;
  font-size: 14px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #f4f4f4;
}
.entry.entry__quote .entry-header {
  padding-top: 16px;
  margin-top: 16px;
  border-top: 1px solid #f4f4f4;
}
.entry.entry__quote .quote-holder .quote-inner {
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  color: #2f2f2f;
}
.entry.entry__small .entry-header {
  margin-bottom: 8px;
}
.entry.entry__small .entry-header h2 {
  font-size: 16px;
}
.entry.entry__small .entry-thumb {
  margin-bottom: 22px;
}
.entry.entry__small .excerpt {
  margin-bottom: 18px;
}
.entry.entry__single {
  padding-bottom: 0;
  border-bottom: none;
  margin-bottom: 0;
}
/* Timeline */
@media (min-width: 992px) {
  .timeline {
    position: relative;
  }
  .timeline:before {
    content: "";
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    bottom: 0;
    width: 4px;
    background: #ebebeb;
  }
  .timeline .entry {
    margin-left: 20%;
    margin-left: 230px;
    padding-left: 0;
  }
  .timeline .entry .entry-icon {
    position: absolute;
    left: -114px;
    top: 0;
  }
  .timeline .entry .entry-date {
    display: block;
    position: absolute;
    left: -190px;
    top: 27px;
  }
  .timeline .entry .entry-date + span:before {
    display: none;
  }
}
/* Blog Masonry Layout */
.masonry-feed {
  padding-left: 0;
  list-style: none;
}
.masonry-feed:before,
.masonry-feed:after {
  content: " ";
  display: table;
}
.masonry-feed:after {
  clear: both;
}
.masonry-feed > .masonry-item {
  margin-bottom: 30px;
  max-width: 100%;
}
@media (max-width: 991px) {
  .masonry-feed > .masonry-item {
    width: 100%;
  }
}
.masonry-feed > .masonry-item .entry {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.masonry-feed > .masonry-item .entry .entry-header h2 {
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.masonry-feed > .masonry-item .entry .excerpt {
  margin-bottom: 1.5em;
}
.masonry-feed > .masonry-item .entry .entry-thumb {
  margin-bottom: 1.5em;
}
/* Comments */
.comments-wrapper {
  padding-bottom: 50px;
}
.commentlist {
  padding-left: 0;
  list-style: none;
  /* Nested Comments */
}
.commentlist li .comment-wrapper {
  background: #f7f7f7;
  padding: 18px 18px 20px 86px;
  margin-bottom: 10px;
  position: relative;
  border-left: 3px solid #dcdcdc;
}
.commentlist li .comment-wrapper:before,
.commentlist li .comment-wrapper:after {
  content: " ";
  display: table;
}
.commentlist li .comment-wrapper:after {
  clear: both;
}
@media (min-width: 992px) {
  .commentlist li .comment-wrapper {
    padding: 10px;
  }
}
.commentlist li .comment-wrapper .gravatar {
  display: block;
  position: absolute;
  /*left: 18px;*/
  top: 10px;
  border-radius: 50%;
  width: 50px;
  height: auto;
}
@media (min-width: 992px) {
  .commentlist li .comment-wrapper .gravatar {
    width: 70px;
    height: auto;
    left: 24px;
    top: 24px;
  }
}
.commentlist li .comment-author {
  padding-top: 7px;
}
@media (min-width: 992px) {
  .commentlist li .comment-author {
    float: left;
  }
}
.commentlist li .comment-author h5 {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: .2em;
}
.commentlist li .comment-reply {
  padding-top: 2px;
}
@media (min-width: 992px) {
  .commentlist li .comment-reply {
    float: right;
    padding-top: 0;
  }
}
.commentlist li .comment-reply .btn .fa {
  margin: 0px;
}
.commentlist li .comment-meta {
  font-size: 12px;
  font-style: italic;
}
.commentlist li .comment-meta > a {
  color: #b4b8be;
}
.commentlist li .comment-body {
  clear: both;
}
.commentlist .children {
  padding-left: 0;
  list-style: none;
}
@media (min-width: 992px) {
  .commentlist .children {
    display: inline-block;
    margin-left: 100px;
  }
}
.commentlist .bypostauthor .comment-wrapper {
  border-left-color: #dc2a0b;
}
/* Comment Form */
.comment-respond .reply-title {
  margin-bottom: .5em;
}
/*
// #Portfolio
// --------------------------------------------------
*/
/*  Project Feed Filter  */
.project-feed-filter {
  padding-left: 0;
  list-style: none;
  margin: 0 0 30px -2px;
}
.project-feed-filter > li {
  display: inline-block;
  padding: 0 2px;
}
.project-feed-filter > li .btn-primary {
  text-shadow: none !important;
}
@media (max-width: 400px) {
  .project-feed-filter > li {
    display: block;
    margin-bottom: 5px;
  }
  .project-feed-filter > li .btn {
    display: block;
    width: 100%;
  }
}
/*  Project Feed  */
.project-feed {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .project-feed.project-feed__4cols .project-item {
    width: 25%;
  }
}
.project-feed.project-feed__fullw {
  overflow: hidden;
  border: none;
  padding: 0;
}
.project-feed.project-feed__fullw .project-item {
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0;
}
@media (max-width: 767px) and (min-width: 406px) {
  .project-feed.project-feed__fullw .project-item {
    width: 50%;
    padding: 0;
  }
}
@media (min-width: 768px) {
  .project-feed.project-feed__fullw .project-item {
    width: 25%;
  }
}
@media (min-width: 992px) {
  .project-feed.project-feed__fullw .project-item {
    width: 20%;
  }
}
.project-feed.project-feed__fullw .project-item .project-img img {
  width: 100%;
  height: auto;
  padding: 0;
  border: none;
}
.project-feed.project-feed__fullw .project-item .overlay {
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
/*  Project Item Overlay */
.project-item {
  margin-bottom: 30px;
}
@media (min-width: 406px) and (max-width: 767px) {
  .project-feed__4cols .project-item,
  .project-feed__3cols .project-item,
  .project-feed__2cols .project-item {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (min-width: 992px) {
  .project-feed__4cols .project-item,
  .project-feed__3cols .project-item,
  .project-feed__2cols .project-item {
    margin-left: auto;
    margin-right: auto;
  }
}
.project-item .project-item-inner {
  background: #f7f7f7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.section-dark .project-item .project-item-inner {
  background: rgba(255, 255, 255, 0.08);
}
.project-item .project-img {
  position: relative;
  overflow: hidden;
  margin: 0;
}
.project-item .project-img > img {
  margin-bottom: 0;
  width: 100%;
  height: auto;
}
.section-dark .project-item .project-img > img {
  background: rgba(255, 255, 255, 0.05);
  border-color: rgba(255, 255, 255, 0.05);
}
.project-item .overlay {
  position: absolute;
  top: 7px;
  left: 7px;
  overflow: hidden;
  right: 7px;
  bottom: 7px;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.project-item .dlink,
.project-item .zoom {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  color: #dc2a0b;
  background: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 38px;
  text-align: center;
  z-index: 2;
}
.project-item .dlink:hover,
.project-item .zoom:hover {
  background: #dc2a0b;
  color: #fff;
}
.project-item .dlink .fa,
.project-item .zoom .fa {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -19px 0 0 -19px;
}
.project-item .dlink {
  left: 0;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.project-item .zoom {
  right: 0;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.project-item .zoom .fa-file-text-o {
  margin-left: -13px;
}
.project-item .project-img:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}
.project-item .project-img:hover .dlink,
.project-item .project-img:hover .zoom {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
/*  Portfolio Description  */
.project-desc {
  text-align: center;
  padding: 25px 20px;
}
.project-desc .title {
  margin-bottom: 5px;
}
.project-desc .title > a {
  color: #2f2f2f;
}
.section-dark .project-desc .title > a {
  color: #fff;
}
.project-desc .title > a:hover {
  color: #dc2a0b;
  text-decoration: none;
}
.project-desc .desc {
  color: #b4b8be;
  font-style: italic;
}
.section-dark .project-desc .desc {
  color: #aeaeae;
}
/*  Isotope Plugin  */
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  z-index: 1;
  pointer-events: none;
}
.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: top, left, opacity;
  transition-property: transform, opacity;
}
.portfolio-sidebar-bottom {
  margin-bottom: -90px;
}
.portfolio-sidebar-bottom .project-feed {
  margin-bottom: 0;
}
/* Common style */
.project-item figure.effect-winston {
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}
.project-item figure.effect-winston img {
  position: relative;
  display: block;
  height: auto;
  max-width: 100%;
  opacity: 0.55;
  filter: alpha(opacity=55.00000000000001);
}
.project-item figure.effect-winston figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.project-item figure.effect-winston figcaption::before,
.project-item figure.effect-winston figcaption::after {
  pointer-events: none;
}
.project-item figure.effect-winston figcaption,
.project-item figure.effect-winston figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.project-item figure.effect-winston p {
  margin-bottom: 0;
}
/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.project-item figure.effect-winston figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
figure.effect-winston {
  background: #2f2f2f;
  text-align: left;
}
figure.effect-winston img {
  -webkit-transition: opacity 0.45s;
  transition: opacity 0.45s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
figure.effect-winston figcaption::before {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: 0;
  left: 0;
  content: '';
}
@media (min-width: 992px) {
  figure.effect-winston figcaption::before {
    bottom: auto;
    top: 40px;
    left: -20px;
    height: 100%;
    background: url(../images/triangle.html) no-repeat center center;
    background-size: 100% 100%;
    -webkit-transition: opacity 0.45s, -webkit-transform 0.45s;
    transition: opacity 0.45s, transform 0.45s;
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
  }
}
figure.effect-winston h2 {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
  color: #fff;
}
figure.effect-winston p {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 1.5em 20px 0;
}
figure.effect-winston a {
  margin: 0 3px;
  color: #2f2f2f;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
figure.effect-winston a:hover,
figure.effect-winston a:focus {
  opacity: 1;
  filter: alpha(opacity=100);
}
figure.effect-winston p a i {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 50px, 0);
  transform: translate3d(0, 50px, 0);
}
figure.effect-winston:hover img {
  opacity: 0.6;
}
figure.effect-winston:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
@media (max-width: 991px) {
  figure.effect-winston:hover figcaption::before {
    background: rgba(255, 255, 255, 0.3);
  }
}
@media (min-width: 992px) {
  figure.effect-winston:hover figcaption::before {
    opacity: 0.7;
    -webkit-transform: rotate3d(0, 0, 1, 20deg);
    transform: rotate3d(0, 0, 1, 20deg);
  }
}
figure.effect-winston:hover p i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
figure.effect-winston:hover p a:nth-child(3) i {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
figure.effect-winston:hover p a:nth-child(2) i {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
figure.effect-winston:hover p a:first-child i {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
/* Portfolio Timeline */
.portfolio-timeline {
  padding-left: 0;
  list-style: none;
  position: relative;
  margin-bottom: 50px;
}
.portfolio-timeline:before {
  content: "";
  display: block;
  position: absolute;
  left: 16px;
  top: 0;
  width: 4px;
  background: #f7f7f7;
  height: 100%;
}
@media (min-width: 992px) {
  .portfolio-timeline:before {
    left: 26px;
  }
}
@media (min-width: 992px) {
  .portfolio-timeline:after {
    content: "";
    display: block;
    position: absolute;
    left: 26px;
    bottom: 0;
    width: 4px;
    background-image: -webkit-linear-gradient(top, #f7f7f7 0%, #ffffff 100%);
    background-image: linear-gradient(to bottom, #f7f7f7 0%, #ffffff 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7f7f7', endColorstr='#ffffffff', GradientType=0);
    height: 100px;
  }
}
.portfolio-timeline > li {
  position: relative;
  padding-bottom: 40px;
}
@media (min-width: 992px) {
  .portfolio-timeline > li {
    padding-bottom: 20px;
  }
}
.portfolio-timeline > li:last-child {
  padding-bottom: 0;
}
.portfolio-timeline > li:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 34px;
  height: 34px;
  background: #dcdcdc;
  border-radius: 50%;
}
@media (min-width: 992px) {
  .portfolio-timeline > li:before {
    left: 10px;
  }
}
.portfolio-timeline > li:after {
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  top: 5px;
  width: 24px;
  height: 24px;
  background: #2f2f2f;
  border-radius: 50%;
}
@media (min-width: 992px) {
  .portfolio-timeline > li:after {
    left: 15px;
  }
}
.portfolio-timeline .project-item .project-desc {
  text-align: left;
  padding: 7px 0 30px 50px;
}
@media (min-width: 992px) {
  .portfolio-timeline .project-item .project-desc {
    padding-left: 0;
    padding-bottom: 0;
  }
}
.portfolio-timeline .project-item .excerpt {
  padding: 20px 0 20px 0;
}
.portfolio-timeline .project-item .project-footer {
  color: #2f2f2f;
}
.portfolio-timeline .project-item .project-footer > ul {
  margin-bottom: 24px;
}
.partners__logos {
  list-style: none;
  margin: 0;
}
.partners__logos > li {
  float: left;
  width: 20%;
  padding: 0;
}
.partners__logos > li > a {
  margin: 0 2px 4px 2px;
  display: block;
  padding: 20px;
  border-radius: 6px;
  background: #fafafa;
}
.partners__logos > li > a:hover img {
  opacity: 1;
  filter: alpha(opacity=100);
}
.partners__logos > li img {
  max-width: 100%;
  height: auto;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.5;
  filter: alpha(opacity=50);
}
/*
// #Social Links Section
// --------------------------------------------------
*/
.social-links-section {
  padding: 35px;
}
.social-links-section.social-links-section__white {
  background: #fff;
}
.social-links-section.social-links-section__grey {
  background: #b7b7b7;
}
.social-links-section.social-links-section__dark {
  background: #444;
  color: #fff;
}
.social-links-section.social-links-section__dark .fa {
  background: #fafafa;
}
.social-links-section.social-links-section__dark h5 {
  color: #a3a3a3;
}
.social-links-section.social-links-section__dark a {
  color: #2f2f2f;
}
.social-links-section.social-links-section__dark a:hover h5 {
  color: #fff;
}
.social-links-section ul {
  padding-left: 0;
  list-style: none;
  margin: 0;
  text-align: center;
}
.social-links-section ul > li {
  display: inline-block;
  margin: 0;
  padding: 0 25px;
}
.social-links-section ul > li a {
  display: block;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.social-links-section ul > li .fa {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin-right: 6px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}
.social-links-section ul > li h5 {
  display: inline-block;
  margin-bottom: 0;
  padding-top: 5px;
  line-height: 32px;
  vertical-align: middle;
  letter-spacing: .3em;
  font-size: 11px;
}
.social-links-section.icons-rounded .fa {
  border-radius: 50%;
}
/*
// #Footer
// --------------------------------------------------
*/
.footer {
  background: #8080ff;
  color: #a3a3a3;
}
.footer a {
  color: #fff;
}
.footer.footer__light {
  background: none;
}
/* Footer Widgets */
.footer-widgets {
  padding: 64px 0 14px 0;
}
/* Footers Widgets specific styling */
.widget__footer {
  margin-bottom: 50px;
  /* Widget Title */
  /* Thumbnail */
  /* Base Widgets */
}
.widget__footer .widget-title {
  font-size: 14px;
  margin-bottom: 1.6em;
  text-transform: uppercase;
  color: #fff;
}
.widget__footer .thumbnail {
  padding: 4px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
}
.widget__footer .thumbnail:hover {
  background: #fff;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.widget__footer .thumbnail:hover img {
  border-color: #fff;
}
.widget__footer .thumbnail img {
  border: 1px solid #2f2f2f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.widget__footer.widget_archive ul li,
.widget__footer.widget_nav_menu ul li,
.widget__footer.widget_meta ul li,
.widget__footer.widget_pages ul li,
.widget__footer.widget_recent_comments ul li,
.widget__footer.widget_recent_entries ul li,
.widget__footer.widget_categories ul li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.widget__footer.widget_archive ul li:before,
.widget__footer.widget_nav_menu ul li:before,
.widget__footer.widget_meta ul li:before,
.widget__footer.widget_pages ul li:before,
.widget__footer.widget_recent_comments ul li:before,
.widget__footer.widget_recent_entries ul li:before,
.widget__footer.widget_categories ul li:before {
  color: rgba(255, 255, 255, 0.08);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.widget__footer.widget_archive ul li:hover,
.widget__footer.widget_nav_menu ul li:hover,
.widget__footer.widget_meta ul li:hover,
.widget__footer.widget_pages ul li:hover,
.widget__footer.widget_recent_comments ul li:hover,
.widget__footer.widget_recent_entries ul li:hover,
.widget__footer.widget_categories ul li:hover {
  background: #dc2a0b;
  padding-left: 40px;
  color: #fff;
}
.widget__footer.widget_archive ul li:hover:before,
.widget__footer.widget_nav_menu ul li:hover:before,
.widget__footer.widget_meta ul li:hover:before,
.widget__footer.widget_pages ul li:hover:before,
.widget__footer.widget_recent_comments ul li:hover:before,
.widget__footer.widget_recent_entries ul li:hover:before,
.widget__footer.widget_categories ul li:hover:before {
  color: #fff;
  left: 20px;
}
.widget__footer.widget_archive ul li:hover > a,
.widget__footer.widget_nav_menu ul li:hover > a,
.widget__footer.widget_meta ul li:hover > a,
.widget__footer.widget_pages ul li:hover > a,
.widget__footer.widget_recent_comments ul li:hover > a,
.widget__footer.widget_recent_entries ul li:hover > a,
.widget__footer.widget_categories ul li:hover > a {
  color: #fff;
  text-decoration: none;
}
/* Copyright */
.footer-copyright {
  
  background: #0080c0;
  color: #800040;
  font-size: 11px;
  padding: 20px 0;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
}
@media (min-width: 768px) {
  .footer-copyright {
    text-align: left;
  }
}
.footer-copyright a {
  color: #fff;
}
.footer-copyright .social-links-wrapper {
  padding-top: 10px;
}
@media (min-width: 768px) {
  .footer-copyright .social-links-wrapper {
    text-align: right;
    padding-top: 0;
  }
}
.footer-copyright .social-links-wrapper .social-links {
  display: inline-block;
  vertical-align: middle;
}
.footer__light .footer-copyright {
  background: none;
  border-top-color: #ddd;
}
.footer__light .footer-copyright a {
  color: #2f2f2f;
}
.footer__light .footer-copyright .social-links > li > a {
  border-color: #ddd;
  background: #eee;
}
.footer__light .footer-copyright .social-links > li > a:hover {
  border-color: #2f2f2f;
  background: #2f2f2f;
  color: #fff;
}
/* Loader */
#qLpercentage {
  font-family: 'Anton', sans-serif;
}
#preloader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 99;
}
/*
// #Shop
// --------------------------------------------------
*/
/* Checkout */
.cart-table td {
  vertical-align: middle !important;
}
.cart-table .product-thumb {
  width: 8%;
}
.cart-table .product-name {
  width: 62%;
}
.cart-table .product-price {
  text-align: center;
}
.cart-table .product-quantity {
  text-align: center;
}
.cart-table .product-subtotal {
  text-align: center;
}
.cart-table .product-remove {
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.cart-table tbody .product-thumb {
  padding-left: 0;
  padding-right: 0;
}
.cart-table tbody .product-thumb img {
  max-width: 50px;
  height: auto;
}
/* Quantity Buttons */
.quantity {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 160px;
  height: 46px;
}
.buttons_added .quantity {
  margin: 0;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.quantity .minus,
.quantity .plus {
  position: absolute;
  display: block;
  overflow: visible;
  margin: 0;
  padding: 0;
  width: 46px;
  height: 46px;
  outline: 0;
  border: 1px solid #d0d0d0;
  border-radius: 2px;
  background: #f1f1f1;
  box-shadow: none;
  color: #666;
  vertical-align: text-top;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  cursor: pointer;
}
.quantity .plus {
  right: 0;
  top: 0;
}
.quantity .qty {
  float: left;
  padding: 0 39px;
  width: 160px;
  height: 46px;
  border: 1px solid #d0d0d0;
  box-shadow: none;
  text-align: center;
  font-size: 1em;
}
.quantity .qty::-webkit-inner-spin-button,
.quantity .qty::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.quantity .qty::-ms-clear {
  display: none;
}
table.cart-total > tbody > tr > th {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #2f2f2f;
  vertical-align: middle;
}
table.cart-total > tbody > tr > td {
  padding-top: 17px;
  padding-bottom: 18px;
  vertical-align: middle;
  text-align: right;
}
table.cart-total > tbody > tr > td .amount {
  display: inline-block;
  font-size: 2em;
  color: #dc2a0b;
}
/* Product */
.product_title {
  margin-bottom: .5em;
}
.price .amount {
  display: inline-block;
  font-size: 2em;
  color: #dc2a0b;
}
.price del .amount {
  color: #ddd;
  text-decoration: line-through;
  font-size: 1.5em;
}
/* Product Meta */
.product_meta > span {
  display: block;
}
/* Rating */
.review_num {
  position: relative;
  float: left;
  margin-right: 10px;
  top: -2px;
}
.star-rating {
  position: relative;
  top: 2px;
  float: none;
  overflow: hidden;
  margin-bottom: 25px;
  width: 5.4em;
  height: 1.2em;
  font-size: 1em;
  font-family: 'star';
  line-height: 1em;
}
.star-rating:before {
  color: #ddd;
  content: "SSSSS";
  float: left;
  left: 0;
  position: absolute;
  top: 0;
}
.star-rating span {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  overflow: hidden;
  padding-top: 1.5em;
  color: #dc2a0b;
}
.star-rating span:before {
  content: "SSSSS";
  left: 0;
  position: absolute;
  top: 0;
}
/* Widget :: Top Rated Products Widget */
.top-rated-widget .latest-posts-list .title {
  padding-top: 10px;
  margin-bottom: .5em;
}
/* Products Feed */
.products {
  padding-top: 10px;
  padding-left: 0;
  list-style: none;
}
.products .product .project-item-inner {
  position: relative;
}
.products .product .project-desc {
  text-align: left;
}
.products .product .project-desc .title {
  margin-bottom: .5em;
}
.products .product .project-desc .price .amount {
  font-size: 1.5em;
}
.products .product .project-desc .price del .amount {
  font-size: 1em;
}
.products .product .onsale {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #dc2a0b;
  color: #fff;
  display: block;
  position: absolute;
  right: -15px;
  top: -15px;
  text-align: center;
  line-height: 38px;
  font-size: 1em;
  z-index: 3;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
}
@media (min-width: 992px) {
  .products .product .onsale {
    right: -20px;
    top: -20px;
  }
}
.catalog-ordering {
  margin-bottom: 30px;
}
/*
// #Forums (bbppress)
// --------------------------------------------------
*/
.bbp-search-form {
  margin-bottom: 30px;
}
.bbp-forums {
  border: 1px solid #dcdcdc;
  background: #fff;
  padding-left: 0;
  list-style: none;
  /* Forum Layout (ie columns width) */
}
.bbp-forums ul {
  padding-left: 0;
  list-style: none;
}
.bbp-forums .bbp-header .bbp-forum-info,
.bbp-forums .bbp-body .bbp-forum-info {
  width: 45%;
}
.bbp-forums .bbp-header .bbp-forum-topic-count,
.bbp-forums .bbp-body .bbp-forum-topic-count {
  width: 13%;
  text-align: center;
}
.bbp-forums .bbp-header .bbp-forum-reply-count,
.bbp-forums .bbp-body .bbp-forum-reply-count {
  width: 13%;
  text-align: center;
}
.bbp-forums .bbp-header .bbp-forum-freshness,
.bbp-forums .bbp-body .bbp-forum-freshness {
  width: 29%;
  text-align: center;
}
.bbp-forums .bbp-header {
  background: #f7f7f7;
  padding: 15px 0 15px 20px;
  text-transform: uppercase;
}
.bbp-forums .bbp-header .forum-titles {
  font-family: 'Oswald', sans-serif;
  color: #2f2f2f;
}
.bbp-forums .bbp-header .forum-titles:before,
.bbp-forums .bbp-header .forum-titles:after {
  content: " ";
  display: table;
}
.bbp-forums .bbp-header .forum-titles:after {
  clear: both;
}
.bbp-forums .bbp-header .forum-titles .bbp-forum-info,
.bbp-forums .bbp-header .forum-titles .bbp-forum-topic-count,
.bbp-forums .bbp-header .forum-titles .bbp-forum-reply-count,
.bbp-forums .bbp-header .forum-titles .bbp-forum-freshness {
  float: left;
}
.bbp-forums .bbp-body .forum {
  border-top: 1px solid #dcdcdc;
  padding: 15px 0 10px 20px;
}
.bbp-forums .bbp-body .forum:before,
.bbp-forums .bbp-body .forum:after {
  content: " ";
  display: table;
}
.bbp-forums .bbp-body .forum:after {
  clear: both;
}
.bbp-forums .bbp-body .forum .bbp-forum-info,
.bbp-forums .bbp-body .forum .bbp-forum-topic-count,
.bbp-forums .bbp-body .forum .bbp-forum-reply-count,
.bbp-forums .bbp-body .forum .bbp-forum-freshness {
  float: left;
}
.bbp-forums .bbp-body .forum .bbp-forum-freshness {
  font-size: 12px;
}
.bbp-forums .bbp-body .forum .bbp-forum-freshness a {
  color: #2f2f2f;
}
.bbp-pagination {
  text-align: right;
  margin-bottom: 20px;
}
/* Forum Single Topic */
.bbp-replies {
  padding-left: 0;
  list-style: none;
}
.bbp-replies .bbp-body:before,
.bbp-replies .bbp-body:after {
  content: " ";
  display: table;
}
.bbp-replies .bbp-body:after {
  clear: both;
}
.bbp-replies .bbp-body .topic {
  margin-bottom: 30px;
}
.bbp-replies .bbp-body .topic:before,
.bbp-replies .bbp-body .topic:after {
  content: " ";
  display: table;
}
.bbp-replies .bbp-body .topic:after {
  clear: both;
}
.bbp-replies .bbp-body .bbp-reply-author {
  padding-left: 80px;
  position: relative;
  margin-bottom: 20px;
}
@media (min-width: 480px) {
  .bbp-replies .bbp-body .bbp-reply-author {
    float: left;
    width: 120px;
    text-align: center;
    margin-bottom: 0;
    padding-left: 0;
  }
}
.bbp-replies .bbp-body .bbp-reply-author .bbp-author-avatar {
  display: block;
  float: left;
}
@media (min-width: 480px) {
  .bbp-replies .bbp-body .bbp-reply-author .bbp-author-avatar {
    float: none;
  }
}
.bbp-replies .bbp-body .bbp-reply-author .bbp-author-avatar .avatar {
  max-width: 60px;
  height: auto;
  margin: 10px auto 0 auto;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
}
@media (min-width: 480px) {
  .bbp-replies .bbp-body .bbp-reply-author .bbp-author-avatar .avatar {
    max-width: 80px;
    position: static;
  }
}
.bbp-replies .bbp-body .bbp-reply-author .bbp-author-name {
  margin: 15px 0 0 0;
  display: block;
  font-family: 'Oswald', sans-serif;
  color: #2f2f2f;
  text-transform: uppercase;
}
.bbp-replies .bbp-body .bbp-reply-author .bbp-author-role {
  margin: 0 0 10px 0;
}
.bbp-replies .bbp-body .bbp-reply-author .bbps-post-count {
  padding-top: 10px;
  border-top: 1px solid #dcdcdc;
}
.bbp-replies .bbp-body .bbp-reply-content {
  border: 1px solid #dcdcdc;
  position: relative;
}
@media (min-width: 480px) {
  .bbp-replies .bbp-body .bbp-reply-content {
    margin-left: 155px;
  }
}
@media (min-width: 480px) {
  .bbp-replies .bbp-body .bbp-reply-content {
    min-height: 254px;
  }
}
.bbp-replies .bbp-body .bbp-reply-content .bbp-reply-header {
  background: #f7f7f7;
  padding: 20px 30px;
  clear: none;
  text-align: right;
  overflow: hidden;
}
.bbp-replies .bbp-body .bbp-reply-content .bbp-reply-header .bbp-meta:before,
.bbp-replies .bbp-body .bbp-reply-content .bbp-reply-header .bbp-meta:after {
  content: " ";
  display: table;
}
.bbp-replies .bbp-body .bbp-reply-content .bbp-reply-header .bbp-meta:after {
  clear: both;
}
.bbp-replies .bbp-body .bbp-reply-content .bbp-reply-header .bbp-meta .bbp-reply-permalink {
  color: #2f2f2f;
  float: right;
}
.bbp-replies .bbp-body .bbp-reply-content .bbp-reply-header .bbp-meta .bbp-reply-post-date {
  float: left;
  font-size: 12px;
}
.bbp-replies .bbp-body .bbp-reply-content .bbp-reply-entry {
  padding: 30px;
}
/* Profile Section */
.bbp-single-user-details {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #dcdcdc;
}
.bbp-single-user-details:before,
.bbp-single-user-details:after {
  content: " ";
  display: table;
}
.bbp-single-user-details:after {
  clear: both;
}
.bbp-single-user-details .bbp-user-avatar {
  float: left;
  width: 100px;
}
.bbp-single-user-details .bbp-user-avatar .avatar {
  border-radius: 50%;
}
.bbp-single-user-details .bbp-user-navigation {
  margin-left: 130px;
}
.bbp-single-user-details .bbp-user-navigation ul {
  padding-left: 0;
  list-style: none;
}
.bbp-single-user-details .bbp-user-navigation ul > li > a {
  display: block;
  padding: 8px 10px;
}
.bbp-single-user-details .bbp-user-navigation ul > li.current > a {
  background: #f7f7f7;
  color: #2f2f2f;
}
/* Magazine Layout */
.owl-carousel__posts .project-item .project-desc {
  text-align: left;
}
.owl-carousel__posts .project-item .project-desc .title {
  text-transform: none;
}
.owl-carousel__posts .project-item .project-desc .meta {
  margin-bottom: .5em;
  font-size: .91em;
}
.owl-carousel__posts .project-item .project-desc .meta .comments {
  display: inline-block;
  padding-right: 4px;
  color: #2f2f2f;
}
.owl-carousel__posts .project-item .project-desc .meta .comments:hover {
  text-decoration: none;
}
.owl-carousel__posts .project-item .project-desc .meta .comments > .fa {
  color: #dc2a0b;
}
.owl-carousel__posts .project-item .project-desc .meta .date {
  display: inline-block;
  color: #b4b8be;
  font-style: italic;
}
.owl-carousel__posts .project-item .dlink {
  width: 100%;
}
/* Magazine Slider */
.magazine-slider-holder {
  padding: 40px 0 0 0;
  border-top: 5px solid #d4d4d4;
  position: relative;
  overflow: hidden;
  margin-bottom: -24px;
}
.magazine-slider-holder:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 1px;
  background: #bebebe;
}
.magazine-slider-holder .item-desc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
  background: rgba(220, 42, 11, 0.85);
}
.magazine-slider-holder .item-desc h2,
.magazine-slider-holder .item-desc h3 {
  color: #fff;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.magazine-slider-holder .item-desc .meta {
  margin-bottom: 6px;
  font-style: italic;
}
.magazine-slider-holder .item-desc .meta .date,
.magazine-slider-holder .item-desc .meta .author {
  color: #fff;
  color: rgba(255, 255, 255, 0.6);
}
.magazine-slider-holder .owl-pagination {
  display: none;
}
/* Item Small */
.item__sm {
  position: relative;
  margin-bottom: 24px;
}
.item__sm .item-desc {
  padding: 12px 15px;
  background: rgba(47, 47, 47, 0.85) !important;
}
.item__sm.item__sm-alt {
  margin-bottom: 3px;
}
.item__sm.item__sm-alt .item-desc h3 {
  font-size: 14px;
}
/* Small Section */
.section-sm {
  padding: 20px 0;
}
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}


.post-area {
    height: auto;
}
.padding-side{
    margin-left:2px;
    margin-right:2px;
}
.highlight
{
background-color:yellow;
}

.header-logo{
	width: 70px;
	height:70px;
	padding: 5px 10px;
	vertical-align: middle;
}
.header-text{
	color: white; 
	margin-bottom: 0px;
	padding-top: 5px;
	font-size: 30px;
}

 