 html, body {
        height: 100%;
        margin:0;
        padding:0;
        font-family: sans-serif;
      }
 #map {
        
        width:60%;
        height: 95%; 
    	position: absolute;
	  	top: 0px;
	  	right: 0px;
      }
    
  #display{   
  		width:25%;
  		float:left;
        background-color:#8bb3e7;
        height: 100%; 	
  }
  #weather{
 	 display:inline-block ;
  }
  #direction{
  	float:right;
  	width:15%;
  	background-color:#8bb3e7;
  	 height: 100%; 	
  } 
  
  .weather-map-content, .weather-content, #map{
  	padding: 10px;
  	margin:20px; 
  }
  
  .weather-content{
  	 
  }
  
  
  .weather-map-content{
  	position: relative;
    
  }
  
  #summaryPanel{
  	margin: 30px;
   	width: 30%;
   	font-size: 18px;
  }
  
  .header-weather{  	
  		margin-left: 50px;
  		font-family: sans-serif;
  		font-size: 15px;
  }
  
  
  
  
  
  
   